<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [47]:
import pandas as pd
import psycopg2

In [48]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [49]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [ ]:
query_3_1 = f'''select count(*) --#выбираем подсчет всех вакансий
from vacancies --из таблицы вакансии
'''
df = pd.read_sql_query(query_3_1, connection)
df

Результат: В базе находится 49197 вакансий

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [ ]:
query_3_1 = f'''select count(*) --#также выбираем подсчет всех (*) 
from employers --#из таблицы работодателей
'''
df = pd.read_sql_query(query_3_1, connection)
df

Результат: В таблице находится 23501 работодатель

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [ ]:
query_3_1 = f'''select count(*) --#также выбираем все
from areas --#из таблицы регионов
'''
df = pd.read_sql_query(query_3_1, connection)
df

Результат: В таблице 1362 региона

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [ ]:
query_3_1 = f'''select count(*)
from industries
'''
df = pd.read_sql_query(query_3_1, connection)
df

Результат: В таблице 294 сферы деятельности

***

Исходя из полученных данных, пользуясь усредненными показателями, можно заметить, что в среднем, на каждого работодателя приходится по 2 вакансии и на каждую сферу деятельности, которых 294, по 167 вакансий. В среднем, на каждый регион приходится по 36 вакансий и 17 работодателей.

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [ ]:
query_3_1 = f'''select count(vacancies.id) as cnt, areas.name as area --#подсчитываем к-во вакансий и отправляем их в столбец cnt
           from vacancies
           join areas on vacancies.area_id = areas.id --#объединяем вакансии и регионы по общему признаку id
           group by areas.name
           order by cnt desc
              Limit 5 --#выведем первые 5, чтобы не загромождать ответ
                   '''
df = pd.read_sql_query(query_3_1, connection)
df

In [ ]:
#Результат:
#   cnt     area
#0	5333	Москва
#1	2851	Санкт-Петербург
#2	2112	Минск
#3	2006	Новосибирск
#4	1892	Алматы

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [ ]:
query = f'''select count(vacancies.id) as cnt --#Посчитаем количество вакансий, поместим рез-т в столбец cnt
           from vacancies
           where salary_from is not null or salary_to is not null --#условие, где верхняя или нижняя зп. заполнена(not null)
           
        '''
df = pd.read_sql_query(query, connection)
df

Результат: Хотя бы одно из двух полей с зарплатой заполнено у 24073 вакансий.

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [ ]:
#округляем(round), среднее значение(avg) для верхней и нижней границы з.п.
query = f'''select round(avg(vacancies.salary_from)) as from, round(avg(vacancies.salary_to)) as to
           from vacancies
                     
        '''
df = pd.read_sql_query(query, connection)
df

Результат: Среднее значение нижней границы зарплатной вилки - 71.065 рублей, а верхней - 110.537 рублей

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [ ]:
query = f'''select count(id) as cnt, schedule, employment 
           from vacancies
           group by schedule, employment
           order by 1 desc
           
                     
        '''
df = pd.read_sql_query(query, connection)
df

In [ ]:
# Результат:
#	cnt	    schedule	        employment
#0	35367   Полный день         Полная занятость
#1	7802    Удаленная работа    Полная занятость
#2	1593    Гибкий график       Полная занятость
#3	1312    Удаленная работа    Частичная занятость
#4	940	    Сменный график      Полная занятость
#5	569	    Полный день         Стажировка
#6	367	    Вахтовый метод      Полная занятость
#7	347	    Полный день         Частичная занятость
#8	312	    Гибкий график       Частичная занятость
#9	141	    Полный день         Проектная работа
#10	133	    Удаленная работа    Проектная работа
#11	116	    Гибкий график       Стажировка
#12	101	    Сменный график      Частичная занятость
#13	64	    Удаленная работа    Стажировка
#14	18	    Гибкий график       Проектная работа
#15	12	    Сменный график      Стажировка
#16	2	    Вахтовый метод      Проектная работа
#17	1	    Сменный график      Проектная работа

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [ ]:
query = f'''select count(id) as cnt, experience 
           from vacancies
           group by experience
           order by 1
                     
        '''
df = pd.read_sql_query(query, connection)
df

In [ ]:
# Результат:
#	cnt     experience
#0	1337	Более 6 лет
#1	7197	Нет опыта
#2	14511	От 3 до 6 лет
#3	26152	От 1 года до 3 лет

***

Исходя из анализа вакансий, можно увидеть, что самое большое количество вакансий в крупных городах, таких как Москва, Санкт-Петербург, Минск...., и снижается до 1 вакансии в небольших городах, как Сасово, Бирск. В более половины вакансий не указана з.п. (24073 из 49197), что скорее всего свидетельствует о том, что уровень з.п. обсуждается на уровне собеседования. Средний уровень зарплаты колеблется от 71 по нижней границе, до 110 по верхней. Самый востребованный график работы - полный день/полная занятость. А все, что связано со стажировкой, частичной занятостью и вахтовым методом, количество вакансий заметно меньше. Также, видно, что самый востребованный опыт работы - от 1 года до 3 лет. Скорее всего, люди с опытом более 6 лет, стремятся на высокие позиции, которые, в данной таблице представлены в ограниченном количестве.

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [ ]:
#выбираем столбец с названиями компаний, считаем сколько вакансий есть у каждого работодателя
query = f'''SELECT employers.name as name, count(vacancies.employer_id) as count
from vacancies
join employers on vacancies.employer_id = employers.id --#объединяем таблицы по общему условию
group by employers.name
order by 2 desc
limit 6
                     
        '''
df = pd.read_sql_query(query, connection)
df

Результат: На первом месте по количеству вакансий находится Яндекс(1933 вакансии). На пятом месте - Газпром нефть(331 вакансия).

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [ ]:
query = f'''SELECT areas.name as name, count(vacancies.id) as count_vacan, count(employers.id) as count_empl
from areas
left join vacancies on areas.id = vacancies.area_id --#дважды объединяем таблицу areas, сначала с vacancies, потом с employers
left join employers on employers.area = areas.id
where vacancies.id is null --#условие, что в регионе нет вакансий (is null)
group by areas.name
order by 2,3 desc
limit 1
                     
        '''
df = pd.read_sql_query(query, connection)
df

Результат: Среди регионов, в которых нет вакансий, наибольшее количество работодателей в России (410 работодателей)

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [ ]:
query = f'''SELECT employers.name as name, count(distinct vacancies.area_id) as count_area --#istinct для получения уникального к-ва
from vacancies
join employers on vacancies.employer_id = employers.id
group by employers.name
order by 2 desc         
        '''
df = pd.read_sql_query(query, connection)
df

In [ ]:
# Результат:
#	name	                 count_area
#0	Яндекс                      181
#1	Ростелеком                  152
#2	Спецремонт                  116
#3	Поляков Денис Иванович      88
#4	ООО ЕФИН                    71
#...	...	...
#14761	UniSol                  1
#14762	UNISTORY LLC            1
#14763	UNIT6                   1
#14764	United Distribution     1
#14765	UNITEL LLC              1

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [ ]:
query = f'''SELECT count(employers.id) as count_id
from employers
left join employers_industries on employers.id = employers_industries.employer_id
where employers_industries.industry_id is null         
        '''
df = pd.read_sql_query(query, connection)
df

Результат: У 8419 работодателей не указана сфера деятельности.

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [ ]:
query = f'''select name --# берем названия компаний
from employers
         left join employers_industries on employers.id = employers_industries.employer_id --#к ней присоеденяем все сферы деятельности 
group by employers.id --# и группируем обязательно по id ком пании, т.к. они уникальные, а названия могут совпадать
having count(employers_industries.industry_id) = 4 --# берем только те у которых количество равно 4
order by name 
offset 2 limit 1 --# и убираем первые 2         
        '''
df = pd.read_sql_query(query, connection)
df

Результат: Это компания 2ГИС

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [ ]:
query = f'''select count(employers_industries.employer_id) as coun
from employers_industries
join industries on employers_industries.industry_id = industries.id
where industries.name = 'Разработка программного обеспечения' --#условие, название сферы деятельности.         
        '''
df = pd.read_sql_query(query, connection)
df

Результат: У 3553 работодателей, в качестве сферы деятельности указана "Разработка програмного обеспечения"

In [ ]:
# результат запроса

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [ ]:
# Через with temp as мы создаем параметр, к которому вернемся позже, а именно нужен будет столбец cnt
query = f'''with temp AS (select count(vacancies.id) as cnt from vacancies
left join employers on vacancies.employer_id = employers.id
left join areas on areas.id = vacancies.area_id
where employers.name = 'Яндекс' --#Условие - название копании и далее, через name in указываем список городов-миллионников
and areas.name in ('Москва', 'Санкт-Петербург', 'Новосибирск','Екатеринбург','Казань','Нижний Новгород','Красноярск','Челябинск','Самара','Уфа','Ростов-на-Дону','Краснодар','Воронеж','Пермь','Волгоград','Омск'))
select areas.name, count(vacancies.id) as cnt
from vacancies
left join employers on vacancies.employer_id = employers.id
left join areas on areas.id = vacancies.area_id
where employers.name = 'Яндекс'
and areas.name in ('Москва', 'Санкт-Петербург', 'Новосибирск','Екатеринбург','Казань','Нижний Новгород','Красноярск','Челябинск','Самара','Уфа','Ростов-на-Дону','Краснодар','Воронеж','Пермь','Волгоград','Омск')
group by areas.name

UNION ALL --# используем для добавления доп строки ниже, в нашем случае строки total
SELECT 'Total', sum(cnt)
FROM temp --#данные берем из параметра, который создали выше.
order by 2 desc     
        '''
df = pd.read_sql_query(query, connection)
df

In [ ]:
# Результат:
#	name	            cnt
#0	Total	            485.0
#1	Москва	            54.0
#2	Санкт-Петербург	    42.0
#3	Екатеринбург	    39.0
#4	Нижний Новгород	    36.0
#5	Новосибирск         35.0
#6	Воронеж	            32.0
#7	Краснодар           30.0
#8	Самара	            26.0
#9	Уфа                 26.0
#10	Ростов-на-Дону	    25.0
#11	Пермь	            25.0
#12	Казань	            25.0
#13	Волгоград           24.0
#14	Красноярск          23.0
#15	Челябинск           22.0
#16	Омск	            21.0

***

Явно видно и понятно, что лидирующую позицию по кол-ву вакансий занимает Яндекс, а вместе с ним находятся Ростелеком, Тинькофф, Сбер и Газпром - это все крупные компании. В регионе Россия, больше всего компаний, у которых нет вакансий. Нужно смотреть, скорее всего, компании зарегистрированы в регионе, но работают в других. Также Яндекс лидирует по количеству регионов, в которых представлены его вакансии. При этом из лидеров по к-ву вакансий всего, в данном условии остался только Яндекс, а к нему присоединились компании меньше. У 8419 компаний не указана сфера деятельности, а это третья часть от всех работодателей, что много. И, скорее всего, сфера деятельности будет указана либо в описании компании, либо описании должности. Также заметно, что у компаний с количеством вакансий заметно меньшим, чем у лидеров, имеется более 3 сфер деятельности. Среди них 2ГИС, 21 век(РБ)... Примерно 13% работодателей занимается разработкой програмного обеспечения и компания Яндекс представлена во всех городах-миллионниках.

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [ ]:
query = f'''select count(*)
from vacancies
where name like '%данн%' or name like '%data%' or name like '%Data%' or name like '%Данн%' or name like '%DATA%' or name like '%ДАНН%'         
        '''#указали условие для названия вакансии
df = pd.read_sql_query(query, connection)
df

Результат: 1771 вакансия имеет отношение к данным

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [ ]:
query = f'''select count(*)
from vacancies
WHERE
    ((name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
    OR ((name ILIKE '%ML%')
    AND (name NOT ILIKE '%HTML%'))
    OR (name ILIKE '%machine learning%') --#ilike нужен, так как он ищет без условия регистра
    OR (name ILIKE '%машинн%обучен%')
    AND (key_skills IS NOT NULL))
    --#все это, это условие для поиска вакансий в data science обязательно обращать внимание на расстановку скобок.
    AND (vacancies.name ILIKE '%junior%'
    OR vacancies.experience ILIKE '%Нет опыта%' --#здесь, указаны условия для специалистов Junior
    OR vacancies.employment ILIKE '%Стажировка%')         
        '''
df = pd.read_sql_query(query, connection)
df

Результат: Для начинающего дата саентиста, есть 51 вакансия

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [ ]:
query = f'''select count(*)
from vacancies
WHERE
    ((name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
    OR ((name LIKE '%ML%') --#здесь оставили Like, так нужно в верхнем регистре обязательно
    AND (name NOT ILIKE '%HTML%'))
    OR (name ILIKE '%machine learning%')
    OR (name ILIKE '%машинн%обучен%'))
    AND (vacancies.key_skills ILIKE '%sql%'
    OR vacancies.key_skills iLIKE '%postgre%')         
        '''
df = pd.read_sql_query(query, connection)
df

Результат: Таких вакансий 201.

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [ ]:
query = f'''select count(*)
from vacancies
WHERE
    ((name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
    OR ((name LIKE '%ML%')
    AND (name NOT ILIKE '%HTML%'))
    OR (name ILIKE '%machine learning%')
    OR (name ILIKE '%машинн%обучен%'))
    AND (vacancies.key_skills ilike '%python%')         
        '''
df = pd.read_sql_query(query, connection)
df

Результат: У 351 вакансии, требованием является Python

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [ ]:
query = f'''select round(avg(length(key_skills) - length(replace(key_skills,CHR(9),''))+1),2)
from vacancies
WHERE
    ((name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
    OR ((name LIKE '%ML%')
    AND (name NOT ILIKE '%HTML%'))
    OR (name ILIKE '%machine learning%')
    OR (name ILIKE '%машинн%обучен%'))
    AND vacancies.key_skills is not null         
        '''
df = pd.read_sql_query(query, connection)
df

Результат: В среднем, для DS, указывают 6 навыков. Если быть точнее, то (6.41)

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [ ]:
query = f'''SELECT experience, ROUND(AVG(coalesce((vacancies.salary_from + vacancies.salary_to) / 2, vacancies.salary_from, vacancies.salary_to)), 0) as salary
FROM vacancies   
WHERE  ((name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
    OR ((name LIKE '%ML%')
    AND (name NOT ILIKE '%HTML%'))
    OR (name ILIKE '%machine learning%')
    OR (name ILIKE '%машинн%обучен%'))
    
GROUP BY vacancies.experience
order by 1 desc         
        '''
df = pd.read_sql_query(query, connection)
df

In [ ]:
# Результат:
#   experience          #round
#0  От 3 до 6 лет       #243115.0
#1  От 1 года до 3 лет  #139675.0
#2  Нет опыта           #74643.0
#3  Более 6 лет         #NaN

***

Исходя из результатов видно, что 1771 вакансия имеет отношение к данным, что всего 3% от общего количества вакансий. При этом, только 51 вакансия предлагается для специалистов уровня Junior. Получается, что компании более ориентированы на поиск опытных сотрудников, либо позиции, которые прдлагаются, требуют больший опыт работы. По требованиям к навыкам Python и SQL, видно, что требования к знанию Python больше и в среднем у специалиста DS, требуется 6 навыков. По уровню з.п, сразу видна закономерность с ранее изученной нижней и верхней "вилкой". Нижняя вилка была 71 000, что соответствует зп начинающего специалиста и 110 верхняя, что соответсвтует опыту от года до трех лет. Естсественно уровенб зарплаты у специалистов с большим опытом работы, более 3 лет фактически в два раза больше.

# Общий вывод по проекту

Из имеющихся данных, по поиску IT специалистов, было обнаружено, что только 3% вакансий подходят для DS. Скорее всего, больший уклон делается на разработку и другие сферы IT. Но не факт, что эти 3% это самы маленький показатель. Очень заметным стало наличие всего 51 вакансии для начинающего специалиста уровня Junior - всего 51 из 1771 имеющейся. Возможно, это нужнои зучить дополнительно, начинающий специалист может получить опыт в режиме стажировки, но все равно, это не переведет его на уровень middle, но может стать хорошим помощником в резюме. Требований к знанию Python больше, чем к SQL, что говорит о том, что на одном знании SQL, скорее всего возникнут трудности, что и может быть в обратной ситуации, когда есть знания только Python. Больше всего вакансий, по количеству регионов, представлена компания Яндекс, но она и является лидирующей в IT сфере. Уровень заработной платы очень хорошо показывает, что нижняя и верхняя планка, это наличие опыта.